
body {
    background-color: lightgoldenrodyellow;
    height: 1000px;
}

.titleColor {
    color: rgb(241, 100, 100) !important;
}

.tacoPad {
    padding-left: 50px;
    margin-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
}

.onePx {
    margin-bottom: 2px;
}